parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method in\\(\\) on iterable\\<SplFileInfo\\>\\.$#"
			count: 1
			path: .php-cs-fixer.php

		-
			message: "#^Cannot access offset 1 on array\\|false\\.$#"
			count: 1
			path: src/Badger.php

		-
			message: "#^Cannot access offset 64 on mixed\\.$#"
			count: 1
			path: src/Badger.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 2
			path: src/Badger.php

		-
			message: "#^Dynamic call to static method BaseCodeOy\\\\Badger\\\\Badger\\:\\:sanitizeText\\(\\)\\.$#"
			count: 5
			path: src/Badger.php

		-
			message: "#^Method BaseCodeOy\\\\Badger\\\\Badger\\:\\:from\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Badger.php

		-
			message: "#^Method BaseCodeOy\\\\Badger\\\\Badger\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Badger.php

		-
			message: "#^Only booleans are allowed in a ternary operator condition, string\\|null given\\.$#"
			count: 6
			path: src/Badger.php

		-
			message: "#^Parameter \\#1 \\$array of static method Illuminate\\\\Support\\\\Arr\\:\\:get\\(\\) expects array\\|ArrayAccess, mixed given\\.$#"
			count: 1
			path: src/Badger.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: src/Badger.php

		-
			message: "#^Parameter \\#1 \\$text of method BaseCodeOy\\\\Badger\\\\Badger\\:\\:calculateTextWidth\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Badger.php

		-
			message: "#^Parameter \\#1 \\$value of method BaseCodeOy\\\\Badger\\\\Badger\\:\\:sanitizeText\\(\\) expects string, mixed given\\.$#"
			count: 2
			path: src/Badger.php

		-
			message: "#^Parameter \\#1 \\$value of method BaseCodeOy\\\\Badger\\\\Badger\\:\\:sanitizeText\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Badger.php

		-
			message: "#^Variable property access on \\$this\\(BaseCodeOy\\\\Badger\\\\Badger\\)\\.$#"
			count: 1
			path: src/Badger.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: tests/Pest.php

		-
			message: "#^Dynamic call to static method BaseCodeOy\\\\Badger\\\\Badger\\:\\:sanitizeText\\(\\)\\.$#"
			count: 1
			path: tests/Unit/BadgerTest.php
